.wrapRight {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 16px;
}

.titleRight {
  font-weight: 500;
  font-size: 12px;
}

.collectionName {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
