.containerFluid {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--bg-gray-light);
  padding-bottom: 50rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 100px 70px;
}

.title {
  font-family: TitleFont;
  font-weight: 700;
  font-size: 28px;
}
