.container {
  display: flex;
  justify-content: space-between;
  margin-top: 153px;
  margin-bottom: 150px;
}

.title {
  display: block;
  font-family: TitleFont;
  font-weight: 400;
  font-size: 41px;
  line-height: 48px;
}

.desc {
  width: 417px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.dotImg {
  position: absolute;
  left: -53px;
}

.btnLeft {
  width: 200px;
  height: 65px;
  border-radius: 60px;

  font-size: 20px;
  font-weight: 400;
}

.wrapNum {
  display: flex;
  margin-top: 13px;
}

.num {
  display: flex;
  flex-direction: column;
  font-family: TitleFont;
  font-weight: 700;
  font-size: 40px;
  z-index: 10;
  margin-right: 21px;
}

.num span {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.containerRight {
  position: relative;
  flex: 1;
}

.stImg,
.ndImg,
.rdImg,
.thImg,
.bgImg {
  position: absolute;
}

.stImg {
  z-index: 10;
  top: 212px;
  left: -64px;
}

.ndImg {
  z-index: 9;
}

.rdImg {
  z-index: 8;
  top: 25px;
  left: 80px;
}

.thImg {
  top: 50px;
  left: 160px;
}

.wrapUser {
  position: absolute;
  width: 300px;
  z-index: 11;
  top: 27px;
  left: 25px;
}

.titleRight {
  font-weight: 700;
  font-size: 28px;
  color: var(--white-color);
}

.name {
  display: flex;
  align-items: center;
  margin-top: 7px;
  color: var(--white-color);
  font-size: 20px;
}

.avt {
  margin-right: 15px;
}

.bgImg {
  z-index: 11;
  top: 345px;
  left: 28px;
}

.wrapCurBid {
  width: 100px;
  position: absolute;
  z-index: 12;
  display: flex;
  bottom: 10px;
  left: 53px;
  top: 361px;
}

.titleRightBot,
.textDay {
  display: flex;
  flex-direction: column;
  color: var(--white-color);

  font-weight: 500;
  font-size: 12px;
}

.wrapEndDay {
  width: 100px;
  position: absolute;
  z-index: 12;
  top: 361px;
  left: 257px;
}

.textDay span,
.titleRightBot span {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}
