.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.avt {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
}

.tick {
  position: absolute;
  top: 0;
  right: -8px;
  z-index: 100;
  background: white url(/images/tick.png) no-repeat center center;
  background-size: cover;
  border-radius: 100%;
}

.title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
}

.price {
  font-weight: 600;
  font-size: 14px;
}

.percent {
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
}
