.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 78px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white-color);
  padding: 0 70px;
  margin: 0 auto;
  z-index: 999;
}

.menuItem {
  margin: 0 20px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
}

.wrapRight {
  justify-content: flex-end;
  margin-left: 170px;
}

.itemMobile:hover {
  background-color: rgb(222, 217, 217);
  cursor: pointer;
}

.itemText {
  margin-left: 10px;
}

.lineTopMenu {
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 999;
}
