.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.wrapRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.titleRight {
  font-weight: 500;
  font-size: 12px;
}

.price {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.wrapTopCollection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  font-family: 'TitleFont';
  margin-bottom: 5px;
  font-size: 20px;
}

.desc {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.index {
  font-weight: 700;
  font-size: 24px;
}
