.containerFluid {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--bg-gray-light);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 100px 70px;
}

.title {
  font-family: TitleFont;
  font-weight: 700;
  font-size: 28px;
  width: 398px;
}

.wrapFast,
.wrapGrowth {
  display: flex;
  align-items: flex-start;
  width: 350px;
}

.wraptext {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.titleFast,
.titleGrowth {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-desc-gray);
}
