html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'TitleFont';
  src: url('../public/fonts/IntegralCF/Webfont/IntegralCF-Bold.woff')
      format('woff'),
    url('../public/fonts/IntegralCF/Webfont/IntegralCF-Bold.woff2')
      format('woff2');
}
