:root {
  /* Colors: */
  --error: #ff4d4f;
  --primary-color: #3d00b7;
  --black-color: #000000;
  --white-color: #ffffff;
  --green-color: #00ac4f;
  --green-light-color: #14c8b0;
  --red-color: #ff002e;

  /* Background Colors: */
  --bg-gray-light: #f7f9fb;

  /* Text Colors: */
  --text-desc-gray: #696969;
  --text-desc-gray-light: #757575;
}
