.wrapRight {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.wrapUser {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.avt {
  width: 34px;
  height: 34px;
  background-color: var(--primary-color);
}

.price {
  display: flex;
  align-items: center;

  border: 1px solid var(--green-color);
  border-radius: 6px;
  padding: 6px 10px;
  margin: 0 10px;
  color: var(--green-color);
  font-size: 12px;
  font-weight: 700;
}

.price img {
  margin-right: 5px;
}

.desc {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-desc-gray-light);
}
